{% extends "base.html" %} {% block content %} {% load static %}

<section class="content">
    <div class="main-header">
        <div class="logo">
            <img src="{% static 'img/techis-logo.png' %}" class="logo"/>
           </div>
           <h2>Home</h2>
    </div>

<section class="content">
    <section class="post_form">
        <form action="/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input class="name" type="text" name="name" placeholder="Name" required /><br>
          <textarea name="body" placeholder="Tell us anything!" required></textarea><br/>
          <input type="file" id="button" name="image">
          <input type="submit" id="Post" value="Post">
        </form>
      </section>
    <section class="posts">
        <ul>
         {% for post in posts %} 
         <li>
            <img class="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}" />
            <div class="menu">
                <a href="/delete/{{ post.id }}/">Delete</a><br>
                <a href="/edit/{{ post.id }}/">Edit</a>
            </div>
            <div class="logo">
             <img src="{% static 'img/user.png' %}">
            </div>
            <div class="name_body">
                <div class="name">{{ post.name }}</div>
                <div class="datetime">{{post.created_at}}<br /></div>
                <p>{{post.body}}</p><br>
                      {% if post.image.url %}

                      <img src="{{post.image.url}}" alt="" class="postimage" style="height: 250px; width: 400px" />
                      {% endif %}

                      
                <a href="/like/{{post.id}}"><img class ="like_icon" src="{% static 'img/heart.png' %}" width="5%"></a>
                {{ post.count }}
            </div>
        </li>
         {% endfor %}
        </ul>
        
    </section>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}"></script>
</section>







{% endblock %}